@import "tailwindcss";

/* Notiification count animation */
.subtle-pulse {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: subtlePulse 2s ease-in-out infinite;
}

@keyframes subtlePulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* Hide horizontal scrollbar */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Disable browser password reveal icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}
